body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Slideshow */

.slideshow-container {
  position: relative;
  height: 100vh; /* Full screen */
  overflow: hidden;
}

.slide {
  display: none;
  height: 100vh;
  position: relative;
}

.slide img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75); 
  z-index: 1;
}


/* Caption styling */
.caption {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.01);
  width: 50%;
  height: 200px;
  padding: 20px 30px;
  z-index: 2;
  margin-bottom: 20px;
  font-weight: 100;
}

.caption h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.caption p {
  font-size: 1.2rem;
}

/* Fade effect */
.fade {
  animation: fade 4.0s;
}

@keyframes fade {
  from { opacity: 0.7; }
  to { opacity: 1; }
}
/* Arrows */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: 200;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 3;
}
.next { 
    right: 0; 
    border-radius: 3px 0 0 3px; 
}
.prev:hover, .next:hover { 
    background-color: rgba(0,0,0,0.8); 
}

/* Dots */
.dots-container {
  text-align: center;
  position: relative;
  top: -40px;
  z-index: 4;
}
.dot {
  cursor: pointer;
  height: 7px;
  width: 7px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
 .dot:hover {
     background-color: #717171; 
}
  .dot.active{
    background-color: #0A3428;
    transform: scale(1.3);
}
.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #00381f;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.1s ease;
  border: 1px solid #00381f;
}
.btn:hover {
  background-color: #ffffff; 
  color: #00381f;
}
@media(max-width: 768px){
    .caption 
    {
        height: 250px;
    }
}
@media(max-width: 344px){
    #first{
        height: 420px;
    }
    .caption{
        height: 370px;
    } 
}





/* About eden brief description*/
.about-section {
  padding: 60px 10%;
  background-color: #f8f8f8;
}

.about-container {
  display: flex;
  flex-wrap: wrap; /* allows stacking on small screens */
  align-items: center;
  gap: 100px;
}

.about-text {
  flex: 1;
  min-width: 300px;
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #0A3428;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #333;
}
.about-image {
  flex: 1;
  min-width: 280px;
}

.about-image img {
  width: 100%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}



/* Eden services section*/
.services-section {
  padding: 60px 10%;
  background-color: #ffffff;
  text-align: center;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #0A3428;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}

.service-card {
  background: #f8f8f8;
  padding: 20px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

.service-card img {
  width: 250px;
  margin-bottom: 15px;
}

.service-card h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: #0A3428;
}

.service-card p {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}

/* Responsive */
@media (max-width: 1024px) {
  .services-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .services-container {
    grid-template-columns: 1fr;
  }
}

.featured-section {
  padding: 60px 10%;
  background-color: #f8f8f8;
  text-align: center;
}

.featured-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.property-card {
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.property-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

.property-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.property-info {
  padding: 20px;
  text-align: left;
}

.property-info h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: #0A3428;
}

.property-info p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
  line-height: 1.5;
}



/* Responsive */
@media (max-width: 1024px) {
  .featured-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .featured-container {
    grid-template-columns: 1fr;
  }
}

/* Why choose us  */
.why-choose-us {
  padding: 60px 10%;
  background: #f8f8f8;
}

.why-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.why-image {
  flex: 1;
}

.why-image img {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.why-content {
  flex: 1;
  text-align: left;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 80px;
}

/* Responsive for tablets and mobile */
@media (max-width: 900px) {
  .why-container {
    flex-direction: column;
    text-align: center;
  }

  .why-content .section-title {
    text-align: center;
  }
}
.accordion {
  width: 100%;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
}

.accordion-header {
  background: #fff;
  color: #0a3428;
  font-size: 1.1rem;
  font-weight: bold;
  width: 100%;
  text-align: left;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion-header .icon{
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.accordion-header:hover {
  color: #B5BFA1;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  background: #0a3428;
  color: white;
  transition: max-height 0.4s ease;
  padding: 0 20px;
}

.accordion-content p {
  margin: 15px 0;
  color: #ffffff;
}

/*Client tesimonials*/
.testimonials {
  background: #f8f8f8;
  padding: 60px 10%;
  text-align: center;
}

.testimonial-container {
  max-width: 700px;
  margin: 40px auto 0;
  position: relative;
}

.testimonial-slide {
  display: none;
}

.testimonial-text {
  font-size: 1.2rem;
  font-style: italic;
  color: #333;
  margin-bottom: 15px;
  line-height: 1.6;
}

.client-name {
  font-weight: bold;
  color: #0A3428;
}

/* Fade animation */
.fade {
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Navigation dots */
.testimonial-dots {
  margin-top: 20px;
}

.dots {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dots.active {
  background-color: #0A3428 !important;
  transform: scale(1.3);
}



/*Call to Action*/
.cta{
  background: linear-gradient #ffffff; 
  color: #0A3428;
  padding: 80px 20px 0px 20px;
  text-align: center;
  
}

.cta-container {
  max-width: 800px;
  margin: 0 auto;
}

.cta h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.cta p {
  font-size: 1.1rem;
  margin-bottom: 30px;
  line-height: 1.6;
}

@media(max-width:768px){
  .cta{
    padding: 80px 20px 15px 20px;
  }
}







/* Keyframe for fade-in */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Apply to sections */
.fade-in-section {
  opacity: 0;
  animation: fadeInUp 1s ease forwards;
}

/* Start with p tags invisible */
p {
  opacity: 0;
  transform: translateY(-70px);
  animation: fadeInUp 0.8s ease forwards;
  animation-delay: 0.4s; /* delay before showing */
}

/* Animation keyframes */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}








